@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --breakpoint-xs: 26rem;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inclusive: var(--font-inclusive-sans);
  --font-bruliafont: var(--font-bruliafont);
  --color-primary: #191919;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #fffbe9;
  color: var(--foreground);
  font-family: var(--font-inclusive-sans), sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}
